.responsive-container {
    margin-top: 20px;
    font-size: 12px;
    color: #6f6f75;

    p {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 380px) {
    .responsive-container {
        font-size: 3.15vw;
    }
}

.masonry-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 414px;
    margin-top: 10px;

    .nav-section {
        display: inline-block;
        margin-bottom: 20px;
        .title {
            font-size: 1.1em;
            font-weight: 700;
            color: rgba(22, 22, 23, 0.8); 
            margin-bottom: 0.25em;
        }

        .item {
            padding-bottom: 0.25em;
        }
    }
}

