<nav #navigation>
    <div class="responsive-container">
        <div class="flex-container">
            <i class="fa-brands fa-apple"></i>
            <span class="nav-item">Store</span>
            <span class="nav-item">Mac</span>
            <span class="nav-item">iPad</span>
            <span class="nav-item">iPhone</span>
            <span class="nav-item">Watch</span>
            <span class="nav-item">AirPods</span>
            <span class="nav-item">TV & Home</span>
            <span class="nav-item">Entertainment</span>
            <span class="nav-item">Accessories</span>
            <span class="nav-item">Support</span>
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-bag-shopping"></i>
            <i 
                class="fa-solid fa-bars hamburger"
                (click)="navigation.classList.toggle('collapsed')">
            </i>
        </div>
    </div>
</nav>