<div class="advertisement-ip-14">
    Get $200–$600 in credit toward iPhone&nbsp;14 or&nbsp;iPhone&nbsp;14 Pro when you trade in iPhone&nbsp;11 or&nbsp;higher.
    <span class="link">
        <span class="active-link">Shop&nbsp;iPhone</span>&nbsp;
        <i class="fa-solid fa-chevron-right"></i>      
    </span>
</div>
<div class="section iphone-14-pro">
    <div class="header light">
        <h2 class="title">iPhone 14 Pro</h2>
        <h3>Pro. Beyond.</h3>
        <div class="links">
            <span class="link active-link">
                Learn More
                <i class="fa-solid fa-chevron-right"></i>
            </span>
            <span class="link active-link" style="margin-left: 32px">
                Buy
                <i class="fa-solid fa-chevron-right"></i>
            </span>
        </div>
    </div>
</div>
<div class="section iphone-14-standard">
    <div class="header dark">
        <h2 class="title">iPhone 14</h2>
        <h3>Two great sizes.</h3>
        <h3>Now with a splash of yellow.</h3>
        <div class="links">
            <span class="link active-link">
                Learn More
                <i class="fa-solid fa-chevron-right"></i>
            </span>
            <span class="link active-link" style="margin-left: 32px">
                Buy
                <i class="fa-solid fa-chevron-right"></i>
            </span>
        </div>
    </div>
</div>
